<ng-container *ngFor="let detailP">
  <div class="col-sm-6 col-lg-4">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <h3>{{detailP.nomP}}</h3>
        <mat-vertical-stepper #stepper>
          <mat-step>
            <ng-template matStepLabel>Formule 1.</ng-template>
            <p>{{detailP.descrip}}</p>
          </mat-step>

        <!-- <mat-step>
            <ng-template matStepLabel>Formule 2.</ng-template>
            <h3>Step 2 - Get the sample code</h3>
            <p>
              This is an example step of the course. You can put anything in here
              from example codes to videos.
            </p>
            <p>
              To install the CLI you need to have installed npm which typically
              comes with NodeJS.To install or upgrade the CLI run the following npm
              command:
            </p>
            <p>npm -g install &#64;angular/cli</p>
            <p>
              This will install the three packages locally and add them as declared
              dependencies in your package.js file.
            </p>
            <div>
              
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Formule 3.</ng-template
            >
            <h3>Step 3 - Create a Firebase project and Set up your app</h3>
            <p>
              This is an example step of the course. You can put anything in here
              from example codes to videos.
            </p>
            <p>
              To install the CLI you need to have installed npm which typically
              comes with NodeJS.To install or upgrade the CLI run the following npm
              command:
            </p>
            <p>npm -g install &#64;angular/cli</p>
            <p>
              To verify that the CLI has been installed correctly, open a console
              and run:
            </p>
            <p>
              This will install the three packages locally and add them as declared
              dependencies in your package.js file.
            </p>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel
              >Formule 4.</ng-template
            >
            <h3>Step 4 - Install the Firebase Command Line Interface</h3>
            <p>
              This is an example step of the course. You can put anything in here
              from example codes to videos.
            </p>
            <p>
              To install the CLI you need to have installed npm which typically
              comes with NodeJS.To install or upgrade the CLI run the following npm
              command:
            </p>
            <p>npm -g install &#64;angular/cli</p>
            command-line tool comes pre-installed on all Functions instances.
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Formule 5.</ng-template>
            <h3>Step 5 - Deploy and run the web app</h3>
            <p>ng version</p>
            <h3>Install dependencies</h3>
            <p>To moderate the images we'll need a few Node.js packages:</p>
            
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Formule 6.</ng-template>
            <h3>Step 6 - The Functions Directory</h3>
            <h3>Install dependencies</h3>
            <p>
              To install these three packages into your Cloud Functions app, run the
              following npm install --save command. Make sure that you do this from
              the functions directory.
            </p>
            <p>
              npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
              child-process-promise
            </p>
            <p>
              This will install the three packages locally and add them as declared
              dependencies in your package.js file.
            </p>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel
              >Formule 7.</ng-template
            >
            <h3>Step 7 -Import the Cloud Functions and Firebase Admin modules</h3>
            <p>
              This is an example step of the course. You can put anything in here
              from example codes to videos.
            </p>
            <p>
              To install the CLI you need to have installed npm which typically
              comes with NodeJS.To install or upgrade the CLI run the following npm
              command:
            </p>
            <p>npm -g install &#64;angular/cli</p>
            <p>
              To verify that the CLI has been installed correctly, open a console
              and run:
            </p>
            <p>ng version</p>
            <p>
              npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
              child-process-promise
            </p>
            <p>
              This will install the three packages locally and add them as declared
              dependencies in your package.js file.
            </p>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Formule 8.</ng-template>
            <h3>Step 8 - Welcome New Users</h3>
            <p>
              This is an example step of the course. You can put anything in here
              from example codes to videos.
            </p>
            <p>
              To install the CLI you need to have installed npm which typically
              comes with NodeJS.To install or upgrade the CLI run the following npm
              command:
            </p>
            <p>npm -g install &#64;angular/cli</p>
            <p>
              To verify that the CLI has been installed correctly, open a console
              and run:
            </p>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Formule 9.</ng-template>
            <h3>Step 9 - Images moderation</h3>
            <p>
              This is an example step of the course. You can put anything in here
              from example codes to videos.
            </p>
            <p>
              To install the CLI you need to have installed npm which typically
              comes with NodeJS.To install or upgrade the CLI run the following npm
              command:
            </p>
            <p>npm -g install &#64;angular/cli</p>
            <p>
              To verify that the CLI has been installed correctly, open a console
              and run:
            </p>
            
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Formule 10.</ng-template>
            <h3>Step 10 - New Message Notifications</h3>
            
            <p>
              npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
              child-process-promise
            </p>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Formule 11.</ng-template>
            <h3>Step 11 - Congratulations!</h3>
            <p>
              You've built a full-fidelity, offline-capable progressive web app by
              leveraging the power of reusable Web Components and Firebase. Why
              bother with a native app when you know how to do all that?!
            </p>
            <div>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>-->
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
