<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">DEVIS</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="form" (ngSubmit)="devis()">
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
            Destinataire
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="john.deo"
              type="email"
              formControlName="dest"
              id="dest"
              class="form-control"
            />
            <span matTextSuffix>&#64;exmaple.com</span>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
            Modèle d'email
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select>
              <mat-option value="1">Devis-projet chaud</mat-option>
              <mat-option value="2">Devis-projet froid</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
            Objet
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="..."
              type="text"
              formControlName="obj"
              id="obj"
              class="form-control"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label for="msg" class="mat-subtitle-2 f-w-600 d-block m-b-16">
            Message
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <textarea
              rows="5"
              formControlName="msg"
              id="msg"
              name="msg"
              class="form-control"
              placeholder="Bonjour Mr. test123 test123,


              Veuillez trouver ci-joint votre étude personnalisée mutuelle individuelle. Devis
              Vous pouvez consulter la documentation en ligne :
              Néoliane HospiSante Néoliane HospiSante Néoliane HospiSante	HS1 HS2 HS3	Plaquette, Conditions générales, Document d’information sur le produit d’assurance (IPID)
              
              Dans le cadre de la loi Naegelen, la souscription de notre proposition d'assurance ne pourra être effectuée que dans un délai de 24h.
              
              Nous avons le plaisir de vous faire parvenir votre étude personnalisée mutuelle individuelle réalisée le 16/04/2024.
              
              Ce projet vous est donné à titre indicatif et n’a aucune valeur contractuelle.
              
              Il se base sur les informations que vous nous avez communiquées et du tarif en vigueur à la date du projet. Nous vous précisons que les cotisations et garanties indiquées ci-après demeurent subordonnées à l'acceptation de votre dossier.
              
              Cordialement,"
              matInput
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-12">
          <button mat-flat-button type="submit" color="primary" style="margin-right: 25px;">
            Envoyer
          </button>
          <button mat-flat-button color="accent">
            avec les documents
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>