<h4 class="mat-headline-6 m-y-24">Fiche</h4>

<mat-accordion>
  <mat-expansion-panel
    class="cardWithShadow"
    [expanded]="step === 0"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    hideToggle
  >
  <mat-expansion-panel-header>
    <mat-panel-title class="f-w-600 f-s-16"
      >Cordonnées d'Assuré
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
            >Nom
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" formControlName="nom"  id="nom" class="form-control" placeholder="Votre nom" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
            >Date de naissance
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field class="w-100" appearance="outline" style="margin-bottom: 20px;">
            
            <input matInput [matDatepicker]="dp3" formControlName="DN"  id="DN" class="form-control" placeholder="MM/JJ/AAAA"/>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dp3"
            ></mat-datepicker-toggle>
            <mat-datepicker #dp3 ></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
            >Prénom
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" formControlName="prenom"  id="prenom" class="form-control" placeholder="Votre prénom"  />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
            >Régime sociale
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select  id="regime" class="form-control"formControlName="regime" >
              <mat-option value="Assuré social">Assuré social</mat-option>
              <mat-option value="Alsace moselle">Alsace moselle</mat-option>
              <mat-option value="Msa-exploitation-agricole">Msa-exploitation-agricole</mat-option>
              <mat-option value="Msa-salarié-agricole">Msa-salarié-agricole</mat-option>
              <mat-option value="Profession libérale">Profession libérale</mat-option>
              <mat-option value="Tns">Tns</mat-option>
              <mat-option value="Tns-immat-en-cours">Tns-immat-en-cours</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

    <mat-action-row>
      <button mat-flat-button color="primary" (click)="nextStep()">Suivant</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel
    class="cardWithShadow"
    [expanded]="step === 1"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    hideToggle
  >
  <mat-expansion-panel-header>
    <mat-panel-title class="f-w-600 f-s-16"
      >Cordonnées du conjoint
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
            >Nom
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Nom Conjoint" required/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Date de naissance</mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="datepicker" placeholder="MM/JJ/AAAA" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
            >Prénom
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Prénom Conjoint" required />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
            >Régime sociale
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="firstCtrl" required>
              <mat-option value="Assuré social">Assuré social</mat-option>
              <mat-option value="Alsace moselle">Alsace moselle</mat-option>
              <mat-option value="Msa-exploitation-agricole">Msa-exploitation-agricole</mat-option>
              <mat-option value="Msa-salarié-agricole">Msa-salarié-agricole</mat-option>
              <mat-option value="Profession libérale">Profession libérale</mat-option>
              <mat-option value="Tns">Tns</mat-option>
              <mat-option value="Tns-immat-en-cours">Tns-immat-en-cours</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

    <mat-action-row>
      <button mat-flat-button color="warn" (click)="prevStep()">
        Retour
      </button>
      <button mat-flat-button color="primary" (click)="nextStep()">Suivant</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel
  class="cardWithShadow"
  [expanded]="step === 2"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  hideToggle
>
  <mat-expansion-panel-header>
    <mat-panel-title class="f-w-600 f-s-16">Cordonnées d'ajoutés </mat-panel-title>
  </mat-expansion-panel-header>
  
  <div class="col-sm-12 d-flex align-items-center">
    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
      >Nombres d'enfants :
    </mat-label>
  </div>
  <mat-radio-group aria-label="Select an option" class="m-t-8" (change)="onSelectionChange($event)">
    <mat-radio-button value="0" color="primary">0</mat-radio-button>
    <mat-radio-button value="1" color="primary">1</mat-radio-button>
    <mat-radio-button value="2" color="primary">2</mat-radio-button>
  </mat-radio-group>
   <br>
   @if(selectedValue == 1) {
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Date de naissance de l'enfant 1
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="datepicker1" formControlName="DNE1"  id="DNE1" placeholder="MM/JJ/AAAA" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="datepicker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
    </div>
  </div>
    }

   @if(selectedValue ==2) {
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Date de naissance de l'enfant 1
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="datepicker1" formControlName="DNE1"  id="DNE1" placeholder="MM/JJ/AAAA" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="datepicker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
            >Date de naissance de l'enfant 2
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="datepicker2" formControlName="DNE2"  id="DNE2" placeholder="MM/JJ/AAAA" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datepicker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
  </div>
</div>
    }
  <mat-action-row>
    <button mat-flat-button color="warn" (click)="prevStep()">
      Retour
    </button>
    <button mat-flat-button color="primary" (click)="nextStep()">Finir</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion> 
<h4 class="mat-headline-6 m-y-24">Identité Bancaire</h4>
<mat-card class="cardWithShadow theme-card">
      <mat-card-content>
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >Titulaire Compte Prev
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >IBAN Prev
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >BIC Prev
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >Titulaire Compte Remb
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >IBAN Remb
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >BIC Remb
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
          </div>         
          </div>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >Nom Banque Prev
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24"
                  >Nom Banque Remb
                </mat-label>
              </div>
              <div class="col-sm-9">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" />
                </mat-form-field>
              </div>
            </div>
      </mat-card-content>
</mat-card>
<h4 class="mat-headline-6 m-y-24">INFO De Paiement</h4>
<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Type De Contrat
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Frais de dossier
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Fonctionnement
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Mois offert
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Date de prélèvement
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="datepicker" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="datepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Mode de payement
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<h4 class="mat-headline-6 m-y-24">INFO Résiliation</h4>
<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Compagnie
            </mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">Apivia</mat-option>
                <mat-option value="2">Néoliane</mat-option>
                <mat-option value="3">Zénioo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Numéro Client
            </mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Numéro Contrat
            </mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 d-flex align-items-center">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Date d'échéance
        </mat-label>
      </div>
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="datepicker" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 d-flex align-items-center">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Gérer par
        </mat-label>
      </div>
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select value="0">
            <mat-option value="0"></mat-option>
            <mat-option value="1">A</mat-option>
            <mat-option value="2">B</mat-option>
            <mat-option value="3">C</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="m-t-12 text-center">
  <button mat-flat-button (click)="enreg()" color="primary">Enregistrer</button>
  <button mat-flat-button color="warn" (click)="back()" class="m-l-8">Annuler</button>
  <button mat-flat-button color="accent" class="m-l-8">Envoyer vers le site de la compagnie</button>
</div>