<h4 class="mat-headline-6 m-y-24">Identité Bancaire</h4>
<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-3 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">Titulaire Compte Prev</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">IBAN Prev</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">BIC Prev</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-3 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">Titulaire Compte Remb</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">IBAN Remb</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">BIC Remb</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
      </div>         
    </div>
    <div class="row">
      <div class="col-sm-3 d-flex align-items-center">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">Nom Banque Prev</mat-label>
      </div>
      <div class="col-sm-9">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 d-flex align-items-center">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">Nom Banque Remb</mat-label>
      </div>
      <div class="col-sm-9">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="" />
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<h4 class="mat-headline-6 m-y-24">INFO De Paiement</h4>
<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Type De Contrat</mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Frais de dossier</mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Fonctionnement</mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Mois offert</mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Date de prélèvement</mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="datepicker" />
              <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Mode de payement</mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="0">
                <mat-option value="0"></mat-option>
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<h4 class="mat-headline-6 m-y-24">INFO Résiliation</h4>
<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Compagnie</mat-label>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="1">
                <mat-option value="1">Apivia</mat-option>
                <mat-option value="2">Néoliane</mat-option>
                <mat-option value="3">Zénioo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Numéro Client</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" [(ngModel)]="data"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Produit</mat-label>
          </div>
          <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" [(ngModel)]="prod" />
            </mat-form-field>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm-12 d-flex align-items-center">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Date d'échéance</mat-label>
      </div>
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="datepicker1" />
          <mat-datepicker-toggle matIconSuffix [for]="datepicker1"></mat-datepicker-toggle>
          <mat-datepicker #datepicker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="m-t-12 text-center">
  <button mat-flat-button (click)="enreg()" color="primary">Enregistrer</button>
  <button mat-flat-button color="warn" (click)="back()" class="m-l-8">Annuler</button>
</div>