<mat-card class="cardWithShadow theme-card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #f9f9f9; border-radius: 8px; margin-bottom: 20px;">  <mat-card-content class="b-t-1" style="padding: 16px;">
  <div class="row">
    <div class="col-lg-6" let folders>
      <mat-card class="b-1 shadow-none m-b-20" style="margin-bottom: 20px; background-color: #ffffff; border-radius: 8px;">
        <mat-card-header style="background-color: #f1f1f1; border-bottom: 1px solid #e0e0e0; padding: 16px;">
          <mat-card-title>
            <h3 style="margin: 0; font-size: 1.2rem; color: #3f51b5;"># id:{{ folders.id }}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 16px;">
          <mat-list>
            <mat-list-item >
              <span matLine><strong>Nom:</strong> {{ folders.nom }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Prenom:</strong> {{ folders.prenom}}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Regime:</strong> {{ folders.regime }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>DN:</strong> {{ folders.DN }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Nom Conjoint:</strong> {{ folders.nomc }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Prenom Conjoint:</strong> {{ folders.prenomc }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Regime Conjoint:</strong> {{ folders.regimec }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>DateNaissance Conjoint:</strong> {{ folders.DNC }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Adresse:</strong> {{ folders.adresse }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Email:</strong> {{ folders.email }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Code Postal:</strong> {{ folders.codeP }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>Num Télephone:</strong> {{ folders.tel }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>DateNaissance d'Enfant 1:</strong> {{ folders.DNE1 }}</span>
            </mat-list-item>
            <mat-list-item >
              <span matLine><strong>DateNaissance d'Enfant 2:</strong> {{ folders.DNE2 }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card-content>
</mat-card>