<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">

    <div class="table-responsive m-t-30">
      <mat-table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-16 p-l-0"
          >
            ID
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="p-l-0">
            {{ row.id }}
          </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="dateSous">
          <mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-16"
          >
          Date d'échéance 
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.dateSous }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="produit">
          <mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-16"
          >
            Produit 
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="d-flex align-items-center gap-12 p-y-16">
              <span class="f-s-16 f-w-600">{{ row.pid }}</span>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="client">
          <mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-16"
          >
            Client
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.numeroClient }}
             </mat-cell>
          
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-16"
          >
            Action
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color">
            <button mat-icon-button (click)="naviger(row.id)"  class="d-flex align-items-center justify-content-center">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="openDialog('Modifer', row)" class="d-flex align-items-center justify-content-center">
               <mat-icon>edit</mat-icon>
            </button>
            <button mat-button
                    [color]="row.valide ? 'primary' : 'accent'"
                    [disabled]="row.valide"
                    (click)="valider(row)"
            >
              {{ row.valide ? 'Validé' : 'Valider Contrat' }}
            </button>
          </mat-cell>
          
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
